.noon{
    text-align: center;
    color: rgb(58, 0, 36);
    font-weight: 900;

    }
    .a1{
     width: 350px;
     margin-left: 775px;
    }

    .b{
    text-align: center;
    color: darkorchid;
    }
    .c{
    text-align: center;
     color: rgb(49, 6, 241);
    }
    .d{
    text-align: center;
    color: rgb(252, 46, 190);
    }
    .e{
    text-align: center;
     color: rgb(9, 255, 0);
     }
    .f{
     text-align: center;
     color: rgb(200, 255, 0);
     }
    .g{
    text-align: center;
    color: rgb(204, 50, 50);
     }

    .h{
    background-color: rgb(255, 0, 51);
    width: 150px;
    height: 50;
    align-items: center;
    text-align: center;
    }

    .i {
        text-align: center
    }
    .j{
background-image: url(https://scontent.fbkk5-4.fna.fbcdn.net/v/t39.30808-6/338440084_6552314314859758_2117035236475051901_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=L1-jXFMuwYQQ7kNvgGhaRf1&_nc_ht=scontent.fbkk5-4.fna&oh=00_AYAv_eVjlQkqyb810s8hDOqzj_Q9b7ViNBLQ8zj9G398gQ&oe=66A7E051);


    }
.k{
background-color: rgb(0, 0, 0);

}
.k1{
    text-align: center;
   
width: 150px;
height: 150px;
    }
    .k2{
        text-align: center;
        width: 150px;
height: 150px;
margin-top: 0;
        }
        .k3{
            text-align: center;
            
height: 150px;
            }
            .k4{
                text-align: center;
                
height: 150px;
                }
                .k5{
                    text-align: center;
                    width: 150px;
                    height: 150px;


                }